name: MERN CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-backend:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./server  # <--- This is the Magic Line!

    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: server/package-lock.json # Tells cache where to look

    - name: Install Backend Dependencies
      run: npm install

    - name: Verify Start Script
      run: npm run build --if-present